@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 0px;
  width: 100%;
}
.logo {
  font-size: 1.5rem;
  color: olivedrab;
}
.menu-lists {
  display: flex;
  flex-direction: row;
}

.lists {
  padding: 0px 20px;
  list-style-type: none;
  font-size: 1.3rem;
  align-items: center;
}

.links {
  text-decoration: none;
  cursor: pointer;
  color: olivedrab;
  scroll-behavior: smooth;
}

.links:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: olivedrab;
}
.header-link {
  text-decoration: none;
}

.icons {
  display: none;
}

.switch-list {
  margin-top: 6px;
  padding-left: 10px;
  list-style-type: none;
}

.main {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 70%;
  margin: auto;
  min-height: 600px;
}

.image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 5px solid olivedrab;
}

.information {
  margin-left: 10%;
}

.p-1 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  color: rgb(85, 85, 85);
}

.p-2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.9rem;
  color: rgb(85, 85, 85);
}

.title {
  font-size: 2.2rem;
  text-align: center;
  color: olivedrab;
}

.info-btns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.btn {
  padding: 6px 6px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.info-btns :nth-child(1) {
  background-color: olivedrab;
  padding: 0px 35px;
  color: white;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.SocialIcons {
  margin-top: 20px;
  color: olivedrab;
  font-size: 30px;
  border-radius: 5px;
}

.main {
  margin: auto;
  width: 70%;
}

.light {
  background-color: white;
}

.dark {
  background-color: black;
  color: olivedrab;
}

.dark .p-1 {
  color: white;
}

.dark .p-2 {
  color: white;
}
