@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color: black;
}

html {
  scroll-behavior: smooth;
}

#root {
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 0px;
  width: 100%;
}
.logo {
  font-size: 1.5rem;
}
.menu-lists {
  display: flex;
  flex-direction: row;
}

.lists {
  padding: 0px 20px;
  list-style-type: none;
  font-size: 1.3rem;
  align-items: center;
}

.links {
  text-decoration: none;
  cursor: pointer;
  color: black;
  scroll-behavior: smooth;
}

.links:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: black;
}
.header-link {
  text-decoration: none;
}

.icons {
  display: none;
}

.switch-list {
  margin-top: 6px;
  padding-left: 10px;
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  min-height: 600px;
}

.image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 5px solid white;
}

.information {
  margin-left: 5%;
}

.p-1 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  color: rgb(85, 85, 85);
}

.p-2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.9rem;
  color: rgb(85, 85, 85);
}

.title {
  font-size: 2.2rem;
}

.info-btns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.btn {
  padding: 6px 6px;
  font-size: 18px;
  cursor: pointer;
}

.info-btns :nth-child(1) {
  padding: 0px 35px;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.SocialIcons {
  margin-top: 20px;
  color: black;
  font-size: 30px;
  border-radius: 5px;
}

.main {
  width: 100%;
  text-align: center;
}

.about {
  min-height: 650px;
  width: 70%;
  margin: 60px auto;
  padding-top: 40px;
}

.education {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 30px;
  margin-top: 3rem;
}

.education img {
  width: 5%;
  padding-top: 1rem;
}

.education div {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  color: rgb(85, 85, 85);
  padding: 20px 0px;
}

.about-me {
  margin-top: 2rem;
  padding-top: 3rem;
  color: rgb(85, 85, 85);
  text-align: justify;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  padding: 30px;
}

#skills {
  width: 70%;
  min-height: 500px;
  margin: 10rem auto;
}

.Skill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 30px;
  margin-top: 3rem;
}

.Skill div {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  color: rgb(85, 85, 85);
  padding: 20px 0px;
}

.light {
  color: black;
}
.light {
  color: black;
}

.dark {
  background-color: #afdbf5;
  color: white;
}
